body {
	margin: 0;
	padding: 0;
}

/*styling navigation-header*/
.header-nav {
	padding: 50px;
}
.header-nav a{
	color: gray;
	font-size: 17px;
	padding: 30px 10px;
	text-decoration: none;
}
.header-nav a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.header-nav .signup {
	padding: 0px;
	text-decoration: underline;
	background-color: rgb(236, 19, 92);
	color: white;
}
.header-nav img {
	float: right;
}

/*styling topic-section*/
.s1 {
	padding: 20px 30px;
	margin-top: 50px;
	font-size: 20px;
	background-color: black;
	color: white;
}

/*styling sections*/
.s2 {
	text-align: center;
	padding-top: 10px;
}

.s3 {
	padding: 30px;
	color: white;
	background-color: black;
	font-family: sans-serif;
	font-size: 24px;
}
.s3 img {
	height: 400px;
	width: 700px;
	float: left;
	margin-right: 20px;
}

.s4 {
	text-align: center;
}
.s4 img{
	flex-direction: row;
	height: 350px;
	width: 300px;
	margin: 30px;
}

.s5 {
	padding: 20px 0px 20px 0px;
	margin: 65px; 
	font-size: 20px; 
	font-family: sans-serif;
	text-align: justify;
}

.s6 img{
	flex: auto;
	flex-direction: row;
	height: 100px;
	width: 100px;
	margin: 74px;
	text-align: center;
}

.s7 {
	background-color: black;
	color: white;
	padding: 20px 0px 20px 325px;
	font-size: 25px;
}

.s8 {
	flex-direction: row;
	
}
.s8 img {
	float: left;
	width: 150px;
	height: 150px;
	margin: 2px;
}

.s9 {
	background-image: url("images/banner-img.png");
	width: auto;
	height: 500px;
}

.s10 {
	background-color: white;
	float: right;
	height: 400px;
	width: 350px;
	margin: 20px;
	padding: 20px;
}
.input {
	padding: 15px; 
	margin: 5px 0px 20px 0px;
	background-color: rgb(247, 243, 243);
	border: none;
}
.btn {
	background-color: rgb(76, 161, 76);
	color: white;
	width: 346px;
	padding: 15px;
	border: none;
}

/*styling footer*/
footer {
	background-color: black;
	height: auto;
	width: 1358px;
	color: white;
	padding: 80px;
	margin-bottom: 20px;
	float: left;
}
.f1 {
	width: 33.33%;
	text-align: left;
	font-size: 23px;
	float: left;
}
.f1 .social {
	height: 35px;
	width: 30px;
	margin-right: 10px;
	float: left;
}
.footer-bottom {
	margin: 10px;
}
.footer-bottom nav{
	margin-top: 15px;
}
